body {
    background: linear-gradient(45deg, #ff4e50, #fc913a);
    background-size: 400% 400%;
    animation: gradient 1s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  